@import "tailwindcss";


@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-secondary: "Fira Sans", sans-serif;
  --breakpoint-3xl: 120rem;

  --color-primary: green;
  --color-danger: red;


}